{% extends 'base.html' %}

{% block body %}
<div class="container mt-4">
    <h2>My Kanban Task Board</h2>
    
    <form action="/add" method="POST" class="mb-4">
        <div class="input-group">
            <input type="text" name="title" class="form-control" placeholder="Enter new task..." required>
            <button type="submit" class="btn btn-primary">Add Task</button>
        </div>
    </form>

    <div class="row">
        <div class="col-md-4">
            <div class="card bg-light p-2">
                <h5 class="card-title text-center text-danger">To Do</h5>
                <hr>
                {% for todo in todos %}
                    {% if todo.status == 'Todo' %}
                        <div class="card mb-2 p-2">
                            <p>{{ todo.title }}</p>
                            <div class="d-flex justify-content-between">
                                <a href="/update/{{ todo.id }}/In Progress" class="btn btn-sm btn-warning">Start</a>
                                <a href="/delete/{{ todo.id }}" class="btn btn-sm btn-danger">Delete</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="col-md-4">
            <div class="card bg-light p-2">
                <h5 class="card-title text-center text-warning">In Progress</h5>
                <hr>
                {% for todo in todos %}
                    {% if todo.status == 'In Progress' %}
                        <div class="card mb-2 p-2">
                            <p>{{ todo.title }}</p>
                            <div class="d-flex justify-content-between">
                                <a href="/update/{{ todo.id }}/Done" class="btn btn-sm btn-success">Complete</a>
                                <a href="/delete/{{ todo.id }}" class="btn btn-sm btn-danger">Delete</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="col-md-4">
            <div class="card bg-light p-2">
                <h5 class="card-title text-center text-success">Done</h5>
                <hr>
                {% for todo in todos %}
                    {% if todo.status == 'Done' %}
                        <div class="card mb-2 p-2">
                            <p style="text-decoration: line-through;">{{ todo.title }}</p>
                            <div class="text-end">
                                <a href="/delete/{{ todo.id }}" class="btn btn-sm btn-danger">Delete</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
