{% extends "base.html" %}
{% block body %}
<div class="row justify-content-center mt-5">
    <div class="col-md-4 card shadow p-4 border-0 text-dark">
        <h2 class="text-center mb-4">Join Us 🚀</h2>
        <form method="POST">
            <input type="text" name="username" class="form-control mb-3" placeholder="Choose Username" required>
            <input type="password" name="password" class="form-control mb-3" placeholder="Set Password" required>
            <button type="submit" class="btn btn-success w-100">Create Account</button>
        </form>
        <p class="mt-3 text-center text-muted small">Already have account? <a href="/login">Login</a></p>
    </div>
</div>
{% endblock %}